* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #222823;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer,
main {
  width: 100%;
}

header,
footer {
  background-color: bisque;
}

h2 {
  color: #aa4465;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.5em;
}

p {
  font-size: 1em;
  padding: 0.5em;
}

main {
  background-color: #dcf0e9;
  flex-grow: 1;
  padding: 2em 0;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #222823;
}

a:visited {
  text-decoration: none;
  color: #222823;
}

button {
  background-color: #aa4465;
  color: white;
  font-weight: bold;
  padding: 0.5em 1em;
  font-family: inherit;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 0.75em 0.5em;
  cursor: pointer;
}

button:hover {
  transition: 5ms;
}

button:active {
  transform: translateY(4px);
}

img.gift-image {
  display: block;
  margin: 0;
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.gift-container {
  width: 300px;
  background-color: #bddbd0;
  margin-bottom: 2em;
  border-radius: 5px;
  padding-top: 0.5em;
}
