* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer,
main {
  width: 100%;
}

header,
footer {
  background-color: bisque;
}

main {
  background-color: aquamarine;
  flex-grow: 1;
  padding: 2em 0;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
