form.filter-form {
  margin: 1em 0 3em;
}

select.filter-select {
  width: 150px;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #f7e3e0;
  color: #222823;
  font-weight: bold;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: inset 1px 1px 5px gray, inset -1px -1px 5px white;
}

.gifts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
