.home-container h2 {
  color: #aa4465;
  font-weight: bold;
  font-size: 2.5em;
}

.home-container p {
  padding: 0.4em;
  font-size: 1.4em;
}

.home-info {
  padding: 0.5em;
}

.home-info p {
  font-size: 1em;
}

.home-container img {
  padding: 0.5em;
}

.hero img {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1500px;
    margin: 0 auto;
  }
  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 1em auto 1.5em auto;
  }

  .hero-text {
    width: 50%;
  }

  .home-info {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1.2em;
  }

  .home-container h2 {
    font-size: 3.5em;
  }

  .hero p {
    font-size: 1.8em;
  }
}
