h3.gift-name {
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0.1e 0 0.75em 0;
}

p.gift-type {
  /* font-size: 1rem; */
  font-weight: bold;
  margin-bottom: 0.75em;
}

.gift-edit {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* padding-top: 0.5em; */
}

.gift-edit button {
  width: 130px;
}

.gift-image-container {
  margin-top: 1em;
}

h3.gift-name {
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0.75em 0;
}

p.gift-type {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.75em;
}
