.add-gift-form {
  max-width: 500px;
  margin: 1em auto 2em auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.add-gift-form input,
select,
textarea {
  font-family: inherit;
}

.add-gift-form-container h3 {
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.5em;
}

.department-select,
.donation-input {
  margin-left: 1em;
}

.condition-input {
  margin-right: 0.5em;
}

.align-left {
  margin-right: auto;
}

.form input,
.form textarea,
.form select {
  background-color: #f7e3e0;
  font-family: inherit;
  padding: 0.25em 0.5em;
  border-radius: 5px;
  border: 1px solid #aa4465;
  outline: none;
}

input[type="checkbox"] {
  accent-color: #f7e3e0;
}
