.gift-by-id-container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-container {
  margin: 2em auto;
}

.target-gift-image-container,
.map-container {
  width: 290px;
  height: 290px;
  background-color: rgba(200, 200, 200, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.target-gift-no-photo-p {
  transform: rotate(-45deg);
}

.gift-by-id-container img,
.map-image {
  width: 290px;
  height: 290px;
  object-fit: cover;
  border-radius: 5px;
}

.map-unavailable-p {
  transform: rotate(-45deg);
}

.gift-value {
  font-weight: normal;
}

.selected-gift-h2 {
  color: #222823;
}

.target-gift-excellent-condition-p {
  color: #336699;
  font-weight: bold;
}

@media (min-width: 500px) {
  .gift-by-id-container img,
  .map-image {
    width: 450px;
    height: 450px;
    object-fit: cover;
  }
  .target-gift-image-container,
  .map-container {
    width: 450px;
    height: 450px;
  }
}

@media (min-width: 700px) {
  .gift-by-id-container img,
  .map-image {
    width: 600px;
    height: 600px;
    object-fit: cover;
  }
  .target-gift-image-container,
  .map-container {
    width: 600px;
    height: 600px;
  }
}

@media (min-width: 1024px) {
  .gift-by-id-container img,
  .map-image {
    width: 800px;
    height: 800px;
    object-fit: cover;
  }
  .target-gift-image-container,
  .map-container {
    width: 800px;
    height: 800px;
  }
}
